<h1>Payments</h1>
<p style="color: green"><%= notice %></p>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Currency</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.amount %></td>
          <td><%= payment.currency %></td>
          <td><%= payment.status.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to "New Payment", new_payment_path %>
<br><br>
<%= link_to "Back", main_app.root_path %>
